.red-badge {
    font-family: Noto sans-serif;
    font-weight: 600;
    background-color: #FF6229;
    color:white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}