.screen-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
}

.screen-header__icon span{
    margin-left: 20px;
}
.screen-header__icon i {
    font-size:25px;
}

@keyframes rotateGear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}
.screen-header__icon .fa-gear:hover {
    animation: rotateGear linear 3s infinite;
}
.screen-header__icon i:hover {
    cursor: pointer;
}