.user-component {
    justify-content: space-between;
    margin-bottom: 10px;
}
.user-component__text {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.user-component__more-subtitle {
    display:flex;
    margin:0;
}
.user-component,
.user-component__column:first-child {
    display:flex;
    align-items: center;
    margin-top: 10px;
}
.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component-avatar__lg {    /* 큰프사 */
    width: 70px;
    height: 70px;
    border-radius: 28px;
    margin-right: 20px;
}
.user-component-avatar__m{    /* 중간프사 */
    width: 60px;
    height: 60px;
    border-radius: 23px;
    margin-right: 20px;
}
.user-component-avatar__sm {    /* 작은프사 */
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 20px;
}
.user-component__title {
    display:flex;
    font-weight: 600;
    font-size: 20px;
    margin:0;
}
.user-component__subtitle {
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.4)
}
.user-component__friends-title-notbold {    /*Friends 카톡 채널*/
    font-weight: 500;
}

.user-component__chat-title-notbold {    /* chat 카카오톡 채널 */
    font-weight: 600;
    padding-top: 5px;
}


.user-component__time { /* friends 챗목록 채팅시간 */
    display:block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.3)
}


.screen-header__icon {
    position:relative;  /*홍점을 위해 부모 엘리먼트를 relative 설정*/
}

.find__red-dot {    /*작은 홍점*/
    background-color: #FF6229;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    display: flex;
    position: absolute;
    right: -5px;
    top:-5px;
}


/*chat.html*/
.chat-user-component {
    margin-top: -20px;
}