@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "status-bar.css"; /*상태바 스타일*/

body {
    font-family: 'Open Sans', sans-serif;
}


.Welcome-header {
    margin-top: 80px;
    margin-bottom: 80px;
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.Welcome-header__title {
    margin-bottom:20px;
}
.Welcome-header__text {
    display:flex;
    text-align: center;
    width: 50%;
    opacity:0.6;
}