.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(202, 202, 202, 0.2);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting-column:last-child {
    opacity:0.5;
}
.settings__setting i {
    margin-right: 20px;
    font-size: larger;
}

.setting-out {
    margin-top: 40px;
    display:flex;
}
.setting-out__element {
    padding: 10px;
    box-shadow: 0 3px 5px rgb(221, 221, 221);
    font-size:small;
    margin-right: 40px;
    border-radius: 5px;
    color:rgb(165, 165, 165);
}
.setting-out__element:hover {
    cursor: pointer;
}
.setting-out__element:first-child:hover {
    background-color: rgb(236, 234, 234);
    color:white;
}
    



